.idea
*.pt
cccd
CCCD_Word_Detection.v2i.yolov8
dataset-v2
root
runs
.venv
src/modules/*/__pycache__
src/modules/*/dataset
src/modules/*/*.jpg
src/modules/*/*.png
src/modules/*/models
src/modules/*/dataset_*
src/modules/*/dataset

src/modules/*/raw
src/modules/*/*.jpg


src/modules/outputs

src/models